.dialogs    {
    /*Обявляем грид*/
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialogsItems  {
    padding: 10px;
}
.dialogsItems .active    {
    color: #ff1b7b;
}
.dialog    {
    display: flex;
}
.messages   {
    padding: 10px;
}
.message   {

}
.dialog a  {
    text-decoration: none;
}

.avatar img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.avatar :hover {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}